BookStore/src/conf/xml-resources/web-services/新建WebServiceFromWSDL/wsdl/test.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://WebService.WebApp/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="webservice" targetNamespace="http://WebService.WebApp/">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://WebService.WebApp/" elementFormDefault="unqualified" targetNamespace="http://WebService.WebApp/" version="1.0">
<xs:element name="Query" type="tns:Query"/>
<xs:element name="QueryResponse" type="tns:QueryResponse"/>
<xs:element name="setService" type="tns:setService"/>
<xs:element name="setServiceResponse" type="tns:setServiceResponse"/>
<xs:complexType name="Query">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element minOccurs="0" name="arg2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QueryResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:book"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="book">
<xs:sequence>
<xs:element minOccurs="0" name="author" type="xs:string"/>
<xs:element minOccurs="0" name="bookname" type="xs:string"/>
<xs:element minOccurs="0" name="category" type="xs:string"/>
<xs:element minOccurs="0" name="id" type="xs:int"/>
<xs:element name="price" type="xs:double"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="setService">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="tns:bookService"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="bookService">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="setServiceResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="setServiceResponse">
<wsdl:part element="tns:setServiceResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="QueryResponse">
<wsdl:part element="tns:QueryResponse" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="Query">
<wsdl:part element="tns:Query" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="setService">
<wsdl:part element="tns:setService" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:portType name="webservice">
<wsdl:operation name="Query">
<wsdl:input message="tns:Query" name="Query"></wsdl:input>
<wsdl:output message="tns:QueryResponse" name="QueryResponse"></wsdl:output>
</wsdl:operation>
<wsdl:operation name="setService">
<wsdl:input message="tns:setService" name="setService"></wsdl:input>
<wsdl:output message="tns:setServiceResponse" name="setServiceResponse"></wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="webserviceSoapBinding" type="tns:webservice">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="Query">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="Query">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="QueryResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="setService">
<soap:operation soapAction="" style="document"/>
<wsdl:input name="setService">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="setServiceResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="webservice">
<wsdl:port binding="tns:webserviceSoapBinding" name="webservicePort">
<soap:address location="http://localhost:8080/BookStore/WebService/Test.ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>